*.o
*.a
*.so
*.out
test/exec/*
!test/exec/.gitkeep
execute_CVault
*.db
*.db-journal
*.db-wal
*.db-shm
*.key
*.bin
titan.key
/keys/
*.swp
*.swo
*~
.netrwhist
undo/
tags
.shada
.DS_Store
Thumbs.db
.log
compile_commands.json
.cache/
.cache/*
